* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: 600;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #555869;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: 5px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#network {
    color: #cdd6f4;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
}

#backlight {
    color: #cdd6f4;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #cdd6f4;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #cdd6f4;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
}

#clock {
    color: #cdd6f4;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
}
